* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

.dp-flex { display: flex }

.fd-column { flex-direction: column }

.jc-between { justify-content: space-between }

.dp-grid { display: grid }

.hidden { display: none }

.fz-40 { font-size: 60px }

.fz-24 { font-size: 24px }

.container {
    row-gap: 4rem;
    width: 100%;
}

body {
    width: 100%;
    min-height: 100vh;
    padding: 30px 45px;
    background-color: #050505;
}

header {
    row-gap: 15px;
}

.movies-container {
    width: 75%;
    align-self: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;

    & div {
        overflow: hidden;
        
        & img {
            width: 100%;
            object-fit: cover;

            &:hover {
                transform: scale(1.05);
            }
        }

    }
}

.like-dislike { column-gap: 10px; }

.bg-img {
    align-items: flex-end;
    background-size: cover;
    aspect-ratio: 1 / 1.5;
    transition: opacity 0.5s linear;
    transition: transform 0.5s linear;

    transform: scale(1.05);

    &:hover {
        transform: scale(1);
        opacity: 1;
    }

    &:not(:hover){
        opacity: 0.7;
        
    }
}

.divWithInfo {
    width: 100%;
    row-gap: 7px;
    padding: 3px 3px 3px 8px;
    background-color: rgb(0, 0, 0);
    transition: opacity 0.5s linear;
    opacity: 0;
}

.like-on { fill: #3cad2c; }

.dislike-on { fill: #e31b1b; }